<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597814766303-vtcfmtfvefgq4mq0hpg47gaoraaf1d6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597814766303-vtcfmtfvefgq4mq0hpg47gaoraaf1d6v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>597814766303-au1her6jjanatfc0rn7mtqvm0brd615h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVVxwrbPYbYc0oJBPRK-RVy_5bskxXUq0</string>
	<key>GCM_SENDER_ID</key>
	<string>597814766303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogsApp</string>
	<key>PROJECT_ID</key>
	<string>blogs-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>blogs-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597814766303:ios:e434957a1e181c1b7d176a</string>
</dict>
</plist>